body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.to-do {
  width: 60%;
  border-radius: 10px;
  padding: 0 0.5rem;
  background-color: white;
  margin-top: 10%;
  box-shadow: 10px 10px 10px hsl(0deg 15.43% 49.12% / 50%);
}

.title {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  padding-right: 8%;
}

form {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

form > input {
  width: 85%;
  padding: 0.5rem;
  border: none;
  font-style: italic;
}

form > button {
  border: none;
  background-color: white;
}

form > button > i {
  transform: rotate(90deg);
  padding: 0.5rem;
  cursor: pointer;
}

#clear {
  width: 100%;
  padding: 0.5rem;
  text-decoration: underline;
  border: none;
  border-radius: 10px;
  margin: 0.5rem 0;
}

div {
  list-style: none;
  padding: 0;
  margin: 0;
}

.to-do-item {
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.deleteBtn,
.editBtn,
.saveBtn {
  border: none;
  background: white;
  font-size: 100%;
}

p {
  width: 85%;
}

.area {
  width: 84%;
  outline: none;
}

#task {
  outline: none;
}
